@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Poppins:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap");

:root {
  --header-height: 5rem;
  --hue-color: 190;

  /* Colors */
  --primary-color: #4daf8f;
  --primary-color-alt: #048654;
  --secondary-color: #181c42;
  --title-color: #181c42;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #fbfefd;
  --container-color: #ffffff;
  --white-color: #ffffff;

  /* Font */
  --primary-font: "Poppins", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --header-title-font: "Anonymous Pro", monospace;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* Z-Index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--text-color);
  line-height: 1.6;
  overflow: visible;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-family: var(--secondary-font);
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  outline: none;
}
/* Header Section */
.header {
  width: 100%;
  background-image: url("../images/header.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-blend-mode: overlay;
  height: 90vh;
}

.nav {
  position: sticky;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px 20px;
}

/* .nav__logo img {
  width: 200px;
  height: 100px;
} */
.nav__toggle {
  color: var(--secondary-color);
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

.navbar-fixed {
  width: 100%;
  position: fixed;
}

.header-info {
  padding-top: 270px;
  margin: 0 auto;
  text-align: center;
}

.header-title {
  font-family: var(--header-title-font);
  color: var(--white-color);
  font-size: 1.8rem;
  font-weight: 600;
}

.header-text {
  color: var(--white-color);
  font-size: 1.5rem;
}
/* change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}
/*--------
 About Us
 -------- */

.about {
  padding: 100px 60px;
  text-align: center;
}

.about span {
  padding: 10px;
  font-size: 1.8rem;
}

.about p {
  padding: 10px;
  font-size: 1.2rem;
  word-wrap: break-word;
}
/*------------
 Let's Section
 ------------ */
.lets-talk {
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-image: url("../images/creative.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: overlay;
  text-align: center;
  padding-top: 150px;
  line-height: 2;
}

.lets-talk .title {
  color: #0f111a;
  font-size: 1.2rem;
}

.lets-talk .lets-talk-heading-text {
  font-size: 2rem;
  color: #0f111a;
}

.talk-btn {
  padding-top: 10px;
}
.button.talk {
  background-color: #07aaa5;
  color: var(--white-color);
  transition: all 0.3s ease-in;
}

.button.talk:hover {
  background-color: #82b440;
  color: #000;
}
/* Get In Touch */
.get-in-touch {
  text-align: center;
  padding: 50px;
  background-color: #ec768c;
}
.getintouch-btn {
  font-family: var(--secondary-font);
  display: inline-block;
  text-transform: capitalize;
  font-weight: bold;
  padding: 15px 30px;
  transition: all 0.3s ease-in;
  border: none;
  outline: none;
}
.getintouch-btn:hover {
  background-color: #82b440;
  color: var(--white-color);
}
/* ---------------
Contact Us Section
------------------ */
.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact .contact-form {
  padding: 20px 0px;
  background-color: #f5f5f5;
  width: 100%;
}

.contact .contact-title {
  padding: 20px 0px;
  font-size: 1.8rem;
  font-weight: 500;
}
form {
  width: 90%;
  margin: 0 auto;
}
.input-group input,
textarea {
  background: #e1f5f5;
  font-family: var(--secondary-font);
  font-weight: 600;
  text-transform: lowercase;
  font-size: 1rem;
  line-height: 55px;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  border-top: 0px none #000000;
  border-right: 0px none #000000;
  border-bottom: 0px none #000000;
  border-left: 0px none #000000;
  border-radius: 0px;
  width: 100%;
  margin-bottom: 30px;
  transition: all 0.1s ease-in-out 0s;
  overflow: visible;
}

.send-button {
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  padding: 20px 40px;
  border: none;
  outline: none;
  background-color: #07aaa5;
  transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

.send-button:hover {
  box-shadow: 0px 0px 20px 0px rgba(130, 189, 64, 0.5);
  background-color: #82b440;
  transition: all 0.3s ease-in;
}
.contact .contact-info {
  width: 100%;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.visit-us,
.address,
.schedule {
  margin: 10px;
  padding: 10px;
}
.footer {
  background-color: #303030;
}

.up-footer {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.copyright {
  padding-top: 15px;
}
.social-link {
  padding: 20px 0;
}

.social-link a {
  padding: 10px;
  color: var(--text-color);
  transition: all 0.3s ease;
}

.social-link a:hover {
  color: var(--white-color);
}
.down-footer {
  text-align: center;
  padding-bottom: 10px;
}

.down-footer a {
  color: var(--text-color);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.down-footer a:hover {
  color: var(--white-color);
}

@media screen and (min-width: 320px) {
  .nav__menu {
    position: fixed;
    background-color: #292929;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    transition: 0.4s;
  }
  .nav a {
    color: var(--text-color);
  }
}
@media screen and (min-width: 340px) {
  .nav__menu {
    position: fixed;
    background-color: #292929;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    transition: 0.4s;
  }
  .nav a {
    color: var(--text-color);
  }
}

@media screen and (min-width: 768px) {
  .nav__menu {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  .nav__menu {
    width: 30%;
  }

  .header-title {
    font-size: 2rem;
    font-weight: 600;
  }

  .header-text {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .about p {
    padding: 10px 60px;
    font-size: 1.5rem;
    word-wrap: break-word;
  }
  .contact {
    flex-direction: row;
  }

  .up-footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .button.talk {
    padding: 15px 30px;
  }

  .getintouch-btn {
    padding: 20px 40px;
  }

  .visit-us h3 {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .visit-us span {
    font-size: 1.5rem;
  }
  .address .addess-title {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .address span {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .schedule span {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 1200px) {
  .nav__menu {
    width: 20%;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav__link {
  color: var(--secondary-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  transition: all 0.3s initial;
}

.nav__link:hover {
  color: #ec768c;
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

.show-menu {
  right: 0;
}

/* change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, 0.15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
  color: var(--title-color);
}
